<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="provider" value="System.Data.SqlClient"/>
  </appSettings>
  <connectionStrings>
    <add name="SqlProvider" connectionString="Data Source=DESKTOP-S7C7LT6\MSSQLSERVER01;Initial Catalog=test;Integrated Security=True"/>
  </connectionStrings>
</configuration>